
<footer class="section-p1">
    <div class="col">
        <img src="/images/logo.png" class="foot-logo" alt="">
        <h4>Contact</h4>
        <p><strong>Address: </strong> 562 wellington Road, Street 32, San Francisco</p>
        <p><strong>Phone: </strong> +91 3339992221 </p>
        <p><strong>Hours: </strong> 10:00 - 9:00, Mon - Sat </p>
    </div>

    <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delevery Information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
        <a href="#">Contact Us</a>
    </div>

    <div class="col">
        <h4>Account</h4>
        <a href="#">sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
    </div>

    <div class="install">
        <h4>Install App</h4>
        <p>From App store or Google Store</p>
        <div class="row">
            <img src="/images/app.png" alt="">
            <img src="/images/Gplay.png" alt="">
        </div>
        <p>Secured Payment Gateways</p>
        <img src="/images/payment.jpg" alt="">

        <div class="follow">
            <div class="icon">
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>

    <div class="copyright">
        <hr>
        <p> copyright &copy; siddique hussain . All right reserved</p>
    </div>
    
</footer>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  
</body>

</html>