    <!DOCTYPE html>
    <html lang="en">
    <head>
    <title>Error 404 | Page Not Found</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="https://raw.githubusercontent.com/saideepd/Error/gh-pages/images/broken_link_favicon.ico">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }
        p {
            font-size: 16px;
        }
        .margin {margin-bottom: 45px;}
        .bg-1 { 
            background-color: rgb(0,0,0);
            color: #f5f6f7;
        }
        img {
            width: 80%;
            height: auto;
        }
        .bg-4 {
            color: #fff;
        }
        .container-fluid {
            padding-top: 60px;
            padding-bottom: 70px;
        }
        
        html { 
            background: url(images/bg.jpg) no-repeat center center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

    </head>
    <body>

    <!-- First Container -->
    <div class="container-fluid bg-1 text-center" style="height: 700px">
    <h1 style="font-size:80px;" class="margin">Oops!</h1>
    <img src="https://raw.githubusercontent.com/saideepd/Error/gh-pages/images/error404.png" class="img-responsive margin" style="display:inline" alt="Error 404">
    <h3>The page you are looking for can't be found</h3>
    <h3>Go To Homepage : <a href="/">Homepage</a>
        <!-- Footer -->
    <footer class="container-fluid bg-4 text-center">
    <p> copyright &copy; siddique hussain . All right reserved</p> 
    </footer>

    </body>
    </html>
