<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Document</title>
</head>
<body>
    
    <style>

    body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
    }
    .password-container {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 300px;
        text-align: center;
    }
    .password-container h2 {
        padding-bottom: 20px;
    }
    form {
        display: flex;
        flex-direction: column;
    }
    form input {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .reset-button {
        background-color: #ff9900;
        color: #fff;
        padding: 10px;
        margin-top: 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
    }
    .reset-button:hover{
        background-color: #ff7300;
    }
    .password-wrapper {
        position: relative;
        margin-bottom: 15px;
    }

    .password-wrapper input {
        width: 93%;
    }

    .toggle-password {
        position: absolute;
        right: 10px;
        top: 45%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        color: #666;
    }

    .toggle-password i {
        font-size: 15px;
    }

    </style>

        <div class="password-container">
            <h2>Reset Password</h2>
            <% if (errorMessage) { %>
                <p style="color: red;"><%= errorMessage %></p>
            <% } %>
                <form action="/resetpasswordpost" method="post" id="resetpassword">
                    <div style="color: red;" id="passwordError"></div>
                    <div class="password-wrapper">
                        <input type="password" name="password" placeholder="New Password" id="newPassword">
                        <span class="toggle-password" onclick="togglePassword('newPassword')">
                            <i class="fa fa-eye" id="newPasswordIcon"></i>
                        </span>
                    </div>
                    <div style="color: red;" id="confirmpasswordError"></div>
                    <div class="password-wrapper">
                        <input type="password" name="confirmpassword" placeholder="Confirm New Password" id="confirmNewPassword">
                        <span class="toggle-password" onclick="togglePassword('confirmNewPassword')">
                            <i class="fa fa-eye" id="confirmNewPasswordIcon"></i>
                        </span>
                    </div>
                    <button type="submit" class="reset-button">Save</button>
                </form>
        </div>


        <script>

            // password validation
            document.getElementById('resetpassword').addEventListener('submit', function(event) {
                event.preventDefault();
                const form = event.target;
                const formData = new FormData(form);

                const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
                const password = formData.get('password');
                const confirmpassword = formData.get('confirmpassword');
                let error = false;

                function setError(elementId, message) {
                    const element = document.getElementById(elementId);
                    element.innerText = message;
                    element.style.display = 'block';
                    setTimeout(() => {
                        element.style.display = 'none';
                    }, 3000);
                }

                if (!password) {
                    error = true;
                    setError('passwordError', 'Enter new password');
                } else if (!passwordPattern.test(password)) {
                    error = true;
                    setError('passwordError', 'Password must be at least 8 characters long and include both letters and numbers');
                } else if (!confirmpassword) {
                    error = true;
                    setError('confirmpasswordError', 'Enter confirm password');
                } else if (password !== confirmpassword) {
                    error = true;
                    setError('confirmpasswordError', 'Passwords do not match');
                }

                if (!error) {
                    form.submit();
                }
            });

            // password
            function togglePassword(inputId) {
                const input = document.getElementById(inputId);
            const icon = document.getElementById(inputId + 'Icon');

            if (input.type === 'password') {
                input.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                input.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        }


        </script>

</body>
</html>