<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .video-background {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
    
        .video-background video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: -1;
        }

        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            position: relative;
            overflow: hidden;
        }

        .login-container {
            margin-top: 5px;
            background-color: rgba(255, 255, 255, 0.699);
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
            width: 350px;
            text-align: center;
            backdrop-filter: blur(5px);
        }

        .login-container h2 {
            padding-bottom: 20px;
        }

        .login-container p {
            margin: 10px 0;
            font-weight: 600;
            color: #221e1e;
        }

        .login-container #forgot {
            text-decoration: none;
            color: #007bff;
            text-align: end;
        }

        .login-container a {
            color: #002fff;
            font-weight: 800;
            text-decoration: none;
        }

        .login-container a:hover {
            text-decoration: underline;
        }

        .social-login {
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-bottom: 20px;
        }

        .social-login a {
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            color: #000000;
            font-weight: 700;
        }

        .google-login {
            background-color: #ffffff;
            color: #000000;
            border: 1px solid rgba(0, 0, 0, 0.185);
        }

        .ggl {
            padding-right: 10px;
            color: #1100ff;
        }

        .divider {
            margin: 20px 0;
            font-size: 14px;
            color: #221e1e;
            position: relative;
        }

        .divider::before,
        .divider::after {
            content: '';
            height: 1px;
            background-color: #000000b2;
            position: absolute;
            top: 50%;
            width: 40%;
        }

        .divider::before {
            left: 0;
        }

        .divider::after {
            right: 0;
        }

        form {
            display: flex;
            flex-direction: column;
        }

        form input {
            padding: 10px;
            margin-bottom: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .login-button {
            background-color: #003cff;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 10px;
        }

        .password-wrapper {
            position: relative;
        }

        .password-wrapper input {
            width: 100%;
        }

        .toggle-password {
            position: absolute;
            right: 10px;
            top: 45%;
            transform: translate(-50%, -50%);
            cursor: pointer;
        }

        .toggle-password i {
            font-size: 15px;
            color: #666;
        }
    </style>

        <div class="video-background">
            <video autoplay muted loop playsinline>
                <source src="/images/login video.mp4" type="video/mp4">
            </video>
        </div>
        <div class="overlay"></div>

        <div class="login-container">
            <h2>Sign Up</h2>
            <% if (errorMessage) { %>
            <p style="color: red;"><%= errorMessage %></p>
            <% } %> 
            <form action="/usersignup" method="post" id="signUpForm">
                <div style="color: red;" id="firstnameError"></div>
                <input type="text" name="firstname" placeholder="Firstname">
                <div style="color: red;" id="lastnameError"></div>
                <input type="text" name="lastname" placeholder="Lastname">
                <div style="color: red;" id="emailError"></div>
                <input type="email" name="email" placeholder="Email Id">
                <div style="color: red;" id="passwordError"></div>
                <div class="password-wrapper">
                    <input type="password" name="password" placeholder="Password" id="signupPassword">
                    <span class="toggle-password" onclick="togglePassword('signupPassword')">
                        <i class="fa fa-eye" id="signupPasswordIcon"></i>
                    </span>
                </div>
                <div style="color: red;" id="confirmpasswordError"></div>
                <div class="password-wrapper">
                    <input type="password" name="confirmpassword" placeholder="Confirm Password" id="signupConfirmPassword">
                    <span class="toggle-password" onclick="togglePassword('signupConfirmPassword')">
                        <i class="fa fa-eye" id="signupConfirmPasswordIcon"></i>
                    </span>
                </div>
                <input type="text" name="referrelcode" placeholder="Referral Code">
                <button type="submit" class="login-button">Continue</button>
            </form>
            <div class="divider">Or</div>
            <div class="social-login">
                <a href="/auth/google" class="google-login">
                    <i class="fa-brands fa-google ggl"></i> Sign up with Google
                </a>            
            </div>
            <p>Already have an account? <a href="/userlogin">Log in</a></p>
        </div>

  <script>

    // avoid going to back
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
   
   // signup validation
      document.getElementById('signUpForm').addEventListener('submit', function(event) {
      event.preventDefault();
      const form = event.target;
      const formData = new FormData(form);

      const namePattern = /^[a-zA-Z]+$/;
      const emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
      const passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;

      const firstname = formData.get('firstname').trim();
      const lastname = formData.get('lastname').trim();
      const email = formData.get('email').trim();
      const password = formData.get('password');
      const confirmpassword = formData.get('confirmpassword');
      let error = false;

      function setError(elementId, message) {
          const element = document.getElementById(elementId);
          element.innerText = message;
          element.style.display = 'block';
          setTimeout(() => {
              element.style.display = 'none';
          }, 4500);
      }

      document.getElementById('firstnameError').innerText = '';
      document.getElementById('lastnameError').innerText = '';
      document.getElementById('emailError').innerText = '';
      document.getElementById('passwordError').innerText = '';
      document.getElementById('confirmpasswordError').innerText = '';

      if (!firstname) {
          error = true;
          setError('firstnameError', 'Please enter firstname to continue');
      } else if (!namePattern.test(firstname)) {
          error = true;
          setError('firstnameError', 'Please enter a valid firstname without spaces and only alphabets');
      } else if (!lastname) {
          error = true;
          setError('lastnameError', 'Please enter lastname');
      } else if (!namePattern.test(lastname)) {
          error = true;
          setError('lastnameError', 'Please enter a valid lastname without spaces and only alphabets');
      } else if (!email) {
          error = true;
          setError('emailError', 'Please enter email');
      } else if (!emailPattern.test(email)) {
          error = true;
          setError('emailError', 'Please enter a valid email');
      } else if (!password) {
          error = true;
          setError('passwordError', 'Please enter password');
      } else if (!passwordPattern.test(password)) {
          error = true;
          setError('passwordError', 'Password must be at least 8 characters long and include both letters and numbers');
      } else if (!confirmpassword) {
          error = true;
          setError('confirmpasswordError', 'Enter the password again');
      } else if (password !== confirmpassword) {
          error = true;
          setError('confirmpasswordError', 'Passwords do not match');
      }

      if (!error) {
          form.submit();
      }
  });

    // password
    function togglePassword(inputId) {
        const input = document.getElementById(inputId);
        const icon = document.getElementById(inputId + 'Icon');

        if (input.type === 'password') {
            input.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            input.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }

  </script>

</body>
</html>
